* {
    margin: 0;
    padding: 0;
    text-align: center;
}

#header {
    background-color: darkslategrey;
    color: white;
    font-size: 3rem;
    padding: 1rem;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}

.choice {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    opacity: 0.85;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.choice img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 4rem 0;
    font-size: 2rem;
}

#user-score,
#comp-score {
    font-size: 4rem;
}

#msg {
    background-color: darkslategrey;
    display: inline;
    padding: 0.5rem;
    color: white;
    border-radius: 1rem;
    font-size: 2rem;
    padding: 1rem;
}

#msg:hover {
    cursor: pointer;
}